.input{
    border: none;
    border-radius: 5px;
    padding: 1%;
    margin: 1%;
    width: 50%;
    height: auto ;
    align-items: center;
    align-self: center;
}

.button{
    border: none;
    background-color: black;
    color: white ;
    padding: 1%;
    margin: 1%;
    border-radius: 5px;
    cursor: pointer;
}

